n
*.py[cod]
*.egg
*.egg-info
dist
build

.idea

.git

__pycache__


*test*

.DS_Store

*/migrations/\d*

data_settings.py
local_settings.py
orther_dir/*


.ycm*

six.py
static/admin/*
daydayup/git_update.sh