{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    {% block script %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
<div>
    <div id="navigator">
        <h2>听雨轩</h2>
        <a id="home" href="#">首页</a>
        <a href="#">历史上的今天</a>
        <a href="#">眼前的苟且</a>
        <a href="#">远方的田野</a>
        <a href="#">远方的诗</a>
    </div>
    {% block content %}{% endblock %}
    <div id="foot_bar">
        <div>
            <div id="record">
                <span>
                    互联网网络备案号
                </span>
                <hr>
            </div>

            <img src="https://cdn.account.liuxue.com/crpacc/images/17b9d0a28be6482af6ebd6021fe48044/William.jpg" alt="">
            <img src="https://cdn.account.liuxue.com/crpacc/images/17b9d0a28be6482af6ebd6021fe48044/William.jpg" alt="">
            <img src="https://cdn.account.liuxue.com/crpacc/images/17b9d0a28be6482af6ebd6021fe48044/William.jpg" alt="">
            <img src="https://cdn.account.liuxue.com/crpacc/images/17b9d0a28be6482af6ebd6021fe48044/William.jpg" alt="">
            <img src="https://cdn.account.liuxue.com/crpacc/images/17b9d0a28be6482af6ebd6021fe48044/William.jpg" alt="">
        </div>
        <div id="info">
            <a href="#">help</a>
            <a href="#">status</a>
            <a href="#">blog</a>
            <a href="#">careers</a>
            <a href="#">privacy</a>
            <a href="#">terms</a>
            <a href="#">about</a>
        </div>
        <div id="slog">
            生活不只有眼前的苟且，<br> 还有诗和远方的田野
        </div>
    </div>
</div>
</body>
</html>
