{% extends "base.html" %}
{% load static %}
{% block title %} 听雨轩 {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
{% endblock %}
{% block content %}
    <div>
        {% if history_list %}
            {% for history_story in history_list %}
                <li>
                    <a href="/history/info/{{ history_story.e_id }}">{{ history_story.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}